.wrapper{
    max-width: 100%;
    background-color: rgb(218, 213, 213);
}

.container{
    width: 1320px;
    margin: 0 auto;
}
    
    /*=============================banner_bottom===========================*/
    
    .banner_bottom{
      position: relative;
      padding: 0px 100px;
      display: flex;
      margin: 0px 100px 0px 100px;
      justify-content: space-between;
      color: white;
      background-color: rgb(45, 22, 175);
    
    }
    
    .banner_text{
      position: absolute;
      left: 0;
      width: 50%;
      margin: 20px 50px;
    }
    
    .btn_getstarted{
      background-color:rgb(187, 194, 187);
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px ;
      cursor: pointer;   
    }
    
    
    .banner_btn{
      position: relative;
      left: 35%;
      width: 70%; 
      text-align: right;  
    }
    
    
    .banner_bottom::before {
      content: "";
      top:65px;
      margin-left: -100px;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 50px solid   rgb(45, 22, 175);
      border-right: 50px solid transparent;
      z-index:4;
    }
    
    
    /*=============================footer===========================*/
    
    .footer_top{
      max-width: 100%;
      position: relative;
      padding: 0px 100px; 
      background-color: rgb(49, 46, 46); 
      position: relative;
      display: flex;
      justify-content: space-between;
      color: rgb(131, 128, 128);
    }
    
    .footer_top_content{
      width: 75%;
      margin: 15px;
    }
    
    .footer_top_item{
      list-style: none;   
      text-align: left;    
    }
    
    .trial{
      list-style: none;   
      text-align: left;    
    }
    
    .footer_top_item{
      padding-top: 100px;
      padding-bottom: 30px;
    }
    
    
    .footer_top_headtext{
      color: white;   
    }
    
    
    .blue3,
    .blue2,
    .blue1,
    .blue {
      display: flex;
      flex-direction: row;
      margin: 15px 0px 15px 0px;
      padding: 0px 0px 15px 0px;
      position: relative;
      border-bottom-style: groove;
      border-bottom: 2px rgb(37, 36, 36) solid;
    }
    
    
    
    .blue3:hover,
    .blue2:hover, 
    .blue1:hover, 
    .blue:hover {
      color: rgb(124, 124, 209);
    
    }
    
    
    .footer_first--section{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 0px;
      padding-bottom: 10px;
    }
    
    
    .footer-second--section{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 0px;
      
    }
    
    .nested{
      width: 23%;
      padding:10px;
      text-align: center;
      color: black;
      background-color: black;
    }
    
    .footer_bottom{
      max-width: 100;
      background-color: rgb(25, 22, 22); 
      position: relative;
      display: flex;
      justify-content: space-between;
      color: white;
    }
    
    .bottom_text{
     padding: 20px;
     margin: 30px;
    }
    
    
    .bottom_icons{
      width: 0px;
      position: relative;
      margin: 30px;  
    }
    
    .about_wrapper,
    .tweets_wrapper{
      margin: 15px 0px 15px 0px;
    }
    
    .tweeter,
    .facebook, 
    .vimeo, 
    .linkedin, 
    .github, 
    .pinterest{
      background-color:  rgb(45, 43, 43);
      display: none;
      position: absolute;
      bottom: 60px;
      left: 20px;
      padding: 10px;   
    }
    
    .bottom_icons:hover::after {
      content: "";
      position: absolute;
      margin-left: 20px;
      top: -19px;
      width: 0;
      height: 0;
      border-top: 11px solid   rgb(45, 43, 43);
      border-right: 14px solid transparent;
     
    }
    
    
    .bottom_icons:hover .vimeo, .bottom_icons:hover .facebook, .bottom_icons:hover .github, .bottom_icons:hover .linkedin, .bottom_icons:hover .pinterest, .bottom_icons:hover .tweeter{
      display: block;
    }
    
    .footer_bottom--subimg{
      width: 40px;
    }
    
    .footer_bottom--subimg1{
      width: 100%;
    }
    
    
    .icon_group{
      display: flex;
      justify-content: space-between;
      margin: 10px;
      position: relative;
    }
    
    .up_arrow{
      width: 100px;
      margin-top: 40px;
    }
