.container_third_item{
    position: relative;
    width: 48.5%;
    background-color: white;
    line-height: 1.8rem;
    text-align: left;  
    padding: 20px;
}

.normal{
    color: rgb(98, 95, 95);
}

.container_second--text{
    margin: 15px;
    padding: 0px 20px 30px; 
   
}
   
.container_third--development{
    width: 32%;
    background-color: white;   
}

ul.container_third_itemd{
    width: 100%;
    background-color: white;
    line-height: 1.8rem;
    list-style: none;   
    text-align: left;  
    padding-top: 10px;
}

.container_third_development--nav{
    width: 100%;
    line-height: 1.8rem;
    list-style: none;   
    text-align: left; 
    display: flex;  
    background-color: rgb(218, 213, 213);   
}

.design, .production{ 
    padding: 15px;
}

/*Taken from inline style*/
.link-style {
    text-decoration: none; 
    background-color: rgb(189, 183, 183);
}

.readmore_btn{
    position: absolute;
    right: 8%;
    bottom: 1%;
    background-color: rgb(45, 22, 175);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}